@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh; 
    align-items: center;
    display: flex;
    justify-content: center;
     background: linear-gradient(#5d8aa8, white)
}
/* width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center; */
#formulario{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background-color: #bed9eb;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    border: 2px solid white;
    padding: 20px;
}

#formulario input, select, button{
    margin-top: 0;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
}

#btn {
    margin-bottom: 5px;
    height: 5vh;
    width: 5vw;
    align-self: center;
}

#btn:hover {
    background-color: #5d8aa8;
    box-shadow:2px 2px 6px rgba(0, 0, 0, 2); ;
}

#questao{
    display: flex;
    width: 600px;
    height: 80px;
    flex-wrap: wrap;
}

#start{
    position: fixed;
    top: 10px;
    right: 10px;
}

.resposta{
    display: flex;
    width: 100%;
    padding: 10px;
    height: 40px;
    align-self: baseline;
}
#centro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    height: 60vh;
    width: 35vw;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 2);
}

.proxima{
    display: flex;
    width: 100%;
    justify-content: right;
}

#titulo {
    color: #5d8aa8;
    
}

#next {
    color: black;
    height: 3vh;
    box-shadow:2px 2px 6px rgba(0, 0, 0, 2); ;
}

#next:hover {
    background-color: #5d8aa8;
}



